@font-face {
    font-family: nexa;
    src: url(../fonts/Nexa-Light.otf);
}

@font-face {
    font-family: nexa-b;
    font-weight: bold;
    src: url(../fonts/Nexa-Bold.otf);
}

body {
    font-family: nexa !important;
}

button.btn.btn-primary.btn-style {
    background-color: red;
}

button.btn.btn-style {
    background-color: rgba(168, 166, 170, 0.55);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    height: 36px;
    margin-top: 10px;
    padding: 0;
    width: 199px;
    1;
}

nav.navbar.navbar-inverse.navbar-style {
    background-color: #080808;
    background-image: none;
    border: transparent;
    border-radius: 0px;
    height: 60px;
}

.navbar-inverse .navbar-nav>li>a.active {
    color: #fff;
}

span.label {
    background-color: transparent;
}

span.label.label-default {
    float: left;
    font-size: 20px;
}

input.form-control {
    border-radius: 0px;
    color: white;
}

img.arrow {
    position: absolute;
    right: 21%;
}

div.col-md-6.col-md-offset-6 {
    text-align: center;
}

button.btn.btn-default {
    text-align: center;
}

div.download-content {
    display: inline-block;
    /* padding:0px; */
    text-align: center;
}

img.img-responsive.img-style {
    margin: auto;
    padding-top: 31%;
}

img.img-responsive.logo {
    max-width: 450px;
    /*max-height: */
    padding-left: 20%;
    padding-top: 34%;
}

@media (max-width:991px) {
    img.img-responsive.logo {
        padding: 0px;
    }
    div.col-md-6.download-content {
        float: right;
    }
}

@media (max-height:640px) {
    img.arrow-style {
        margin-top: 20px;
    }
}

@media (max-width: 498px) {
    #formContact h2 {
        text-align: left;
    }
}

p {
    color: white;
    font-size: 15px !important;
    font-weight: bold;
    text-align: justify;
}

.top-5 {
    margin-top: 5%;
}


/* .section {
    overflow: hidden; */

.top-100 {
    margin-top: 100px;
    /* top: 60px; */
}

.h-full {
    height: 100%;
}

div.jumbotron {
    background-image: url('../img/FONDO-VIDEOS.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

div.jumbotron {
    display: flex;
}

div.jumbotron.bio {
    background-image: url('../img/FONDO-BIO.jpg');
    background-position: center;
    background-size: cover;
    line-height: 1.3 !important;
    min-height: 100vh;
    width: 100%;
}

.jumbotron {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

div.jumbotron.contact {
    background-image: url('../img/FONDO-CONTACTO.jpg');
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
}

div.form-group { }

.form-control {
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
}

@media (min-width: 990px) {
    div#large-player-controls {
        left: 60% !important;
    }
}

@media (max-width:991px) {
    img.img-responsive.img-style {
        width: 50%;
    }
}

@media (max-width:767px) {
    img.img-responsive.img-style {
        padding: 0;
        width: 75%;
    }
    div.col-md-6.download-content {
        bottom: 120px;
        float: right;
        position: absolute;
        right: -95px;
    }
    .form-control {
        color: rgb(252, 248, 248);
        /* width: 300px; */
    }
    /* div.col-md-6.download-content {
        padding-top: 40%; */
    img.arrow-style {
        margin-top: 20px;
        /* animation: none !important; */
    }
}

div.form-group {
    width: 100%;
}

h2.text-center {
    color: white;
    font-size: 30px;
    margin: auto;
    /*width: 330px;*/
}

img.img-responsive.enjoy {
    margin-bottom: 65px;
    margin-top: 71px;
    padding-left: 60px;
}

div.jumbotron.multimedia {
    background-image: url('../img/FONDO-MUSICA.jpg');
    background-position: center;
    background-size: 100% 100%;
    min-height: 50vh;
    width: 100%;
}

.black-section {
    background-color: rgb(3, 3, 3);
    position: relative;
}

.first {
    height: 10vh;
    width: 100%;
}

.second {
    height: 40vh;
    width: 100%;
}

@keyframes arrow-up-down {
    from {
        bottom: 20%;
    }
    to {
        bottom: 5%;
    }
}

img.arrow-style {
    bottom: 5%;
    position: absolute;
    right: 22%;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow-up-down;
}

button.btn.btn-download {
    background-color: rgba(84, 80, 80, 0.58);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    margin-top: 13px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    text-align: center;
    transition: 1s;
}

button.btn.btn-download:hover {
    background-color: rgba(221, 158, 42, 0.58);
    color: black;
}

.manager-text {
    color: white !important;
}

#amazingcarousel-container-1 {
    padding-top: 20% !important;
}

.logo-nav {
    /* margin-left: 90%; */
}

.nav-cont-style {
    /*
    TO SHOW ROB
     */
    /* margin-left: 230px; */
    margin-right: 0;
    position: relative;
    top: 4px;
}

@media (max-width: 768px) {
    .navbar-collapse {
        top: 0;
        width: 108%;
    }
}

.right {
    float: right;
}

.nav-cont-style-ico {
    /* margin-right: 5%; */
    position: relative;
    top: 4px;
}

.btn-send {
    background-color: rgba(84, 80, 80, 0.58);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    margin-top: 13px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    text-align: center;
}

.opacity-none {
    opacity: 0;
}

.v-center {
    position: absolute;
    width: 100%;
}

#html5-elem-wrap,
#html5-elem-box {
    background: transparent !important;
}

#html5-elem-data-box {
    display: none !important;
}

#html5-close {
    display: none !important;
}

.play {
    opacity: 0.7;
}

.videoImg:hover .play {
    opacity: 1;
}

.play-button {
    margin-bottom: 65px;
    margin-top: 25%;
    padding-left: 37%;
    position: absolute;
}

#youtube-a > img {
    -webkit-filter: invert(46%);
    transition: 1s;
}

#youtube-a:hover > img {
    -webkit-filter: initial !important;
}

#tw-a > img {
    -webkit-filter: invert(46%);
    transition: 1s;
}

#tw-a:hover > img {
    -webkit-filter: initial !important;
}

#fb-a > img {
    -webkit-filter: invert(46%);
    transition: 1s;
}

#fb-a:hover > img {
    -webkit-filter: initial !important;
}

#ig-a > img {
    -webkit-filter: invert(46%);
    transition: 1s;
}

#ig-a:hover > img {
    -webkit-filter: initial !important;
}

@media (max-width:1200px) {
    #bio-p {
        margin-right: 22px !important;
    }
}

@media (max-width:952px) {
    #youtube-a > img {
        -webkit-filter: initial !important;
    }
    #tw-a > img {
        -webkit-filter: initial !important;
    }
    #fb-a > img {
        -webkit-filter: initial !important;
    }
    #ig-a > img {
        -webkit-filter: initial !important;
    }
}

.invalid {
    border: 1px solid rgba(243, 2, 2, 0.47) !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #080808;
}

.social>li {
    float: left;
}